{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block content %}
<div class="container" >

    <h1>Snippets Page</h1>
    
    <br><hr><br>
    
    <div class="row col-md-offset-2 col-md-8" >
        
        <form id="snippets_form" method ='POST'>
            {% csrf_token %}
            
            {% for field in form %}
                <label class="field_input_label">{{ field.label_tag }}</label>
                <p>{{ field }}</p>
            {% endfor %}
            
            <br>
            <button type='submit'>Add New Video</button>
        </form>
        
        <br>    
        
        <h3>My Videos</h3>
        
        <div id="video_list_container">
            
            {% for video in videos %}
            <div class="row" >
                <p class="video_list_item"><a href="{{ video.video_url }}">{{ video.video_title }}</a></p>
            </div>
            {% endfor %}
            
        </div>
    </div>
    
</div>

<br><hr><br>

{% endblock %}